<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.home.member.MemberMapper">
	
	<select id="getLogin" parameterType="MemberVO" resultType="MemberVO">
		SELECT * FROM MEMBER M JOIN MEMBER_ROLE MR USING (ID) WHERE ID = #{id} AND PW = #{pw}
	</select>
	
	<select id="getIdCheck" parameterType="MemberVO" resultType="Integer" >
		SELECT COUNT(ID) FROM MEMBER WHERE ID = #{id}
	</select>
	
	<insert id="setMemberRole" parameterType="MemberVO">
		INSERT INTO MEMBER_ROLE VALUES ( #{id}, (SELECT NUM FROM ROLE WHERE ROLENAME = 'ROLE_MEMBER') )
	</insert>
	
	<insert id="setAdd" parameterType="MemberVO">
		INSERT INTO MEMBER VALUES( #{id}, #{pw}, #{name}, #{email}, 1)
	</insert>
	
</mapper>