<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.home.board.qna.QnaMapper">

	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA ORDER BY NUM DESC LIMIT #{startRow}, 10
	</select>
	
	<select id="getDetail" parameterType="QnaVO" resultType="QnaVO">
		SELECT * FROM QNA WHERE NUM = #{num}
	</select>
	
	<update id="setUpdate" parameterType="QnaVO">
		UPDATE QNA SET TITLE = #{title}. WRITER = #{writer}, CONTENTS = #{contents} WHERE NUM = #{num}
	</update>
	
	<insert id="setAdd" parameterType="QnaVO">
		INSERT INTO QNA VALUES(NULL, #{writer}, #{title}, #{contents})
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES
		VALUES (NULL, #{num}, #{fileName}, #{oriName})
	</insert>
</mapper>